<launch>
   <arg name="steps" default="35" />
   <param name="steps" type="bool" value="$(arg steps)" />

  <node pkg="ergodic_inspection" name="graph_planner_server" type="graph_planner_server.py" output="screen">
   </node> 

   <node pkg="ergodic_inspection" name="waypoint_placement_ros" type="waypoint_placement_ros.py" output="screen">
   </node> 

  

</launch>
