<?xml version="1.0" encoding="UTF-8" standalone="no" ?>
<launch>
<arg name="isSim" default="true" />

  <param name="isSim" type="bool" value="$(arg isSim)" />

<group unless="$(arg isSim)">
    <param name="robot_description" command="$(find xacro)/xacro --inorder $(find ballast_sim)/urdf/turtlebot3_burger_custom.urdf.xacro" />
 <node
    name="robot_state_publisher"
    pkg="robot_state_publisher"
    type="robot_state_publisher" />

</group>

 <rosparam file="$(find ergodic_inspection)/param/sim/move_base/costmap_common_params_burger_custom.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find ergodic_inspection)/param/sim/move_base/costmap_common_params_burger_custom.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find ergodic_inspection)/param/sim/move_base/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find ergodic_inspection)/param/sim/move_base/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find ergodic_inspection)/param/sim/move_base/move_base_params.yaml" command="load" />
    <rosparam file="$(find ergodic_inspection)/param/sim/move_base/dwa_local_planner_params_burger_custom.yaml" command="load" />
  <node pkg="pointcloud_to_laserscan" name="pointcloud_to_laserscan" type="pointcloud_to_laserscan_node" output="screen">
  	    <remap from="cloud_in" to="/camera/depth_points"/>
      	    <param name="target_frame " type="str" value="base_footprint" />
  	    <param name="min_height " type="double" value="0.05" />
  	    <param name="max_height " type="double" value="0.2" />
   </node> 


  <node pkg="nodelet" type="nodelet" name="nodelet_manager" args="manager" />
  <node pkg="nodelet" type="nodelet" name="nodelet1"
        args="load depth_image_proc/point_cloud_xyzrgb nodelet_manager">
    <remap from="rgb/camera_info" to="/camera/color/camera_info"/>
    <remap from="depth_registered/image_rect" to="/camera/aligned_depth_to_color/image_raw"/>
    <remap from="rgb/image_rect_color" to="/camera/color/image_raw"/>
  </node>
	
</launch>
